fastapi
uvicorn
email-validator

python-dotenv
pymongo
motor
pydantic
python-jose
passlib
bcrypt
python-multipart

scikit-learn==1.5.2
numpy==1.26.4
pandas==2.2.3
joblib==1.4.2

matplotlib==3.9.3
plotly==5.24.1
reportlab==4.2.5

shap
lime